<body style="background-color:#FFDCB7; border: 3px solid black">
  <div style="text-align:center">
    <h1><%= @game.active_player.name %> attacked <%= @game.defending_player.name %></h1>
  </div>
  <form action="/play" method="post">
    <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
      <input type="submit" value="OK">
    </div>
  </form>
  <div style="text-align:center;vertical-align:middle">
    <img src='https://media.giphy.com/media/pqRZWQdy0994I/giphy.gif'/>
  </div>
</body>



  <!-- <embed name="~/Users/JackHardy/Downloads/got.mp3" src="" width="150" height="90" loop="false" autostart="true">
    <video width='512' height='288' id="splashvid" autoplay loop muted>
     <source src="https://www.youtube.com/watch?v=J9d9UrK0Jsw">
    </video> -->
