<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css" type="text/css" />
  <link rel="stylesheet" href="character_select.css" type="text/css" />  
</head>


<body>
  <div style="text-align:center">
    <h1>FINAL FANTASY XV</h1>
    <h2>CHOOSE YOUR CHARACTER</h2>

    <form action="/names" method = "post">
      <label for="player_1_name">PLAYER 1 NAME:</label>
      <input type="text" name="player_1_name"/>
      <input type="radio" name="player_1_image" value="tyrion" checked><img src="http://vignette1.wikia.nocookie.net/gameofthrones/images/6/61/The_children_Tyrion_with_Bow_S4.png/revision/latest?cb=20140616190514" width="180" height "180"/>
      <input type="radio" name="player_1_image" value="cersei"><img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/c/c6/Cersei-lannister-lena-headey-helen-sloan.jpeg/revision/20120424220203" width="180" height "180"/>
      <label for="player_2_name">PLAYER 2 NAME:</label>
      <input type="text" name="player_2_name"/>
      <input type="radio" name="player_2_image" value="tyrion" checked><img src="http://vignette1.wikia.nocookie.net/gameofthrones/images/6/61/The_children_Tyrion_with_Bow_S4.png/revision/latest?cb=20140616190514" width="180" height "180"/>
      <input type="radio" name="player_2_image" value="cersei"><img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/c/c6/Cersei-lannister-lena-headey-helen-sloan.jpeg/revision/20120424220203" width="180" height "180"/>
      <input type="submit" value= "Submit"/>
    </form>
  </div>
  
</body>

</html>
