<body style="background-color:#FFDCB7; border: 3px solid black">
  <div style="text-align:center;vertical-align:middle">
    <h1><%= @game.defending_player.name %> loses!</h1>
    <img src='https://media.giphy.com/media/A3gb1McFY4Yr6/giphy.gif' width="1000" height "500"/>
  </div>
</body>
