<h1> YAH! The victor shall quench their thirst for BLOOD! </h1>
<p> But first, doth your hats and leave your names at the door </p>
<form action="/play" method= "post">
  <div>
    <label for="name1">Door 1:
    <input type="password" name="name1" value="Marmaduke"/>
    </label>
  </div>
  <div>
    <label for="name2">Door 2:
    <input type="password" name="name2" value="Eugene"/>
    </label>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <button type="submit">COMMENCE!</button>
  </div>
</form>