<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <title>Battle</title>
  </head>

  <body>
    <div id="main">
      <div id="title">
        <h1 id="title">BATTLE</h1>
      </div>
      <div id="form">
        <form action="character-select" method="get">
          <input type="submit" value ="Start" />
        </form>
      </div>
    </div>

  </body>

</html>