<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <title>Battle</title>
  </head>

  <body>
    <div class="main">
      <div class="title">
        <span>
        <h1 id="title">FINAL FANTASY XV</h1>
      </span>
      </div>
      <div class="form">
        <form action="/character-select" method="get">
          <input type="submit" value ="Start" id="start-button"/>
        </form>
      </div>
    </div>

  </body>

</html>