<h1 style="text-align:center">Aezeroth</h1>

<div>
  <p style="text-align:center">
    As the sun peeks above the distant horizon and the unforgiving frost of night loosens it's grip on the scorched planes of Aezeroth...
  <P style="text-align:center">
    A brave young warrior, <%=@name1%>, locks eyes with a formiddable opponent: <%=@name2%>, a swordsman from a neighbouring village.
   </p>
</div>

<div>
  <p><%=@name2%>: 100HP</p>
</div>

<div>
  <form action= "/play1_confirmation" method="get">
    <button type = "submit"> Whack </button>
  </form>
</div>