Player One: <%= $player1.name %>
<br>
Player One HP: <%= @player1_hp %>
<br>
Player Two: <%= $player2.name %>
<br>
Player Two HP: <%= @player2_hp %>
<br>
<form action="/attack">
  <input type='submit' value="Attack!" />
</form>
