<h1 style="text-align:center"> Welcome, one and all, to the killingfields of Aezeroth! </h1>
<div>
	<p></p>
</div>
<div>
<h1 style="text-align:center"> Ready yourselves, for the honour of battle awaits you. </h1>
</div>
<div>
	<p></p>
</div>

<form action="/names" style="text-align:center">
	<div>
	    <button type="submit">BEGIN!</button>
	</div>
</form>